@{
  ViewBag.Title = localizzatore["Contatti"];
}
<h2>@localizzatore["Contatti"]</h2>
<p></p><p></p>
<h4>Museo Civico di Storia Naturale "Giacomo Doria"</h4>
<div class="text-black">Via Brigata Liguria, 9, 16121 Genova, Italia</div>
<div class="text-black">Tel. 010 564567 - 010 582171 Fax 010 566319</div>
<div class="text-black">e-mail: museodoria@comune.genova.it</div>
<p></p><p></p>
<h4>@localizzatore["Team Papero"]</h4>
<div class="text-black">Giorgio Borgo</div>
<div class="text-black">e-mail: teampapero@gmail.com</div>