@model IEnumerable<Papero.Models.Famiglie>
@{
    ViewBag.Title = "Famiglie";
}


@section css {
    <link href="~/lib/angular-tree-control/css/tree-control.css" rel="stylesheet" />
    <link href="~/lib/angular-tree-control/css/tree-control-attribute.css" rel="stylesheet" />
}


@section scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-tree-control/angular-tree-control.js"></script>
    <script src="~/js/treeController.js"></script>
}




<div>Lista delle famiglie: </div>

<div class="row">
    <div class="col-lg-6">

        <div ng-app="app-tree">
            <div ng-controller="treeController">

                <div treecontrol class="tree-classic"
                     tree-model="dataForTheTree"
                     options="treeOptions"
                     on-selection="showSelected(node)"
                     selected-node="node1">
                    {{node.nome}} 
                </div>

            </div>
        </div>

    </div>
</div>
