@{
  ViewBag.Title = "Home";
}


<h2>Benvenuti al Papero!</h2>
<div class="text-info">#TeamPapero!</div>
<a asp-controller="Papero" asp-action="ElencoEsemplari" class="btn btn-lg btn-success">Visualizza Elenco Esemplari</a>
<a asp-controller="Auth" asp-action="Test" class="btn btn-lg btn-success">Aggiungi Claim Utente</a>
<a asp-controller="Auth" asp-action="Test2" class="btn btn-lg btn-success">Aggiungi Claim Ruolo</a>