@{
  ViewBag.Title = "Home";
}


<h2>Benvenuti al Papero!</h2>
<div class="text-info">Prima o poi riuscirò a farlo!</div>
<a asp-controller="Papero" asp-action="ElencoEsemplari" class="btn btn-lg btn-success">Visualizza Elenco Esemplari</a>