@{
  ViewBag.Title = localizzatore["Info"];
}
<h2>P.A.P.E.R.O.</h2>
<div class="text-info">Progetto di Archiviazione Polifunzionale di Elenchi e Raccolte Ornitologiche</div>
<div class="text-info"><em>@localizzatore["Acronimo"]</em></div>